@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #0a0b14;
    color: #f0ffff;
    font-family: "Rubik", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.img-content {
    position: relative;
    display: flex;
    max-width: 150px;
    max-height: 130px;
}

.logo-bleach{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

img {
    position: relative; 
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

a {
    color: #f0ffff;
    align-content: center;
    margin-left: 50px;
    
}

.link-content :hover {
    color: #cf3b00;
    transition: 0.5s all;
}

#button-item {
    border: 2px solid #cf3b00;
    padding: 2.5px;
    border-radius: 10px;
}

#button-item:hover {
    background-color: #cf3b00;
    color: #f0ffff;
    transition: 0.5s;
}

li {
    display: inline-block;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

h2 {
    font-size: 48px;
    line-height: 10px;
}

span {
    color: #cf3b00;
}

p {
    line-height: 20px;
    max-height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 10px;
}

input { 
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

button {
    height: 50px;
    width: 50%;
    background-color: #cf3b00;
    color: #f0ffff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: Rubik;
}

button:hover {
    cursor: pointer;
}

.Rebirth {
    width: auto;
    height: auto;
}

.input-error {
    color: red;
    font-style: italic;
    display: none;
}

#form-user input {
    width: 90%;
    height: 50px;
}

.banner{
    text-align: center;
    padding-top: 22.5px;
    font-size: 18px;
    font-family: Rubik;
    border-radius: 10px;
    height: 45px;
    width: 50%;
    margin: auto;
    background-color: #2fa112;
}